<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
">

	<bean id="fsJSTProvider" class="org.xcommand.template.jst.FileSystemBasedJSTProvider">
		<!--<property name="srcDirs">-->
			<!--<list>-->
				<!--<value>jst/src</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property name="genSourceDir" value="generated"/>-->
	</bean>

	<bean id="janinoObjectCreator" class="org.xcommand.template.jst.JSTJaninoObjectCreator">
	</bean>

	<bean id="jstCmd" class="org.xcommand.template.jst.JavaTemplateCmd">
		<property name="janinoObjectCreator2">
			<ref bean="janinoObjectCreator"/>
		</property>
		<property name="uriToClassnameMapper">
			<bean class="org.xcommand.template.jst.UriToClassnameMapper"/>
		</property>
	</bean>
	<bean id="webCmd1" class="org.xcwebapp.cmd.WebCmd1"/>
	<bean id="webCmd2" class="org.xcwebapp.cmd.WebCmd2"/>
	<bean id="requestDispatcherCmd" class="org.xcommand.web.RegExpDispatcherCmd">
		<property name="commands">
			<map>
				<entry key=".*\.jst$">
					<ref bean="jstCmd"/>
				</entry>
				<entry key=".*1\.cmd$">
					<ref bean="webCmd1"/>
				</entry>
				<entry key=".*2\.cmd$">
					<ref bean="webCmd2"/>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="xcServletContextListenerCommand" class="org.xcommand.core.ListCommand">
		<property name="commands">
			<list>
				<bean class="org.xcommand.template.jst.JSTInitializer"/>
			</list>
		</property>
	</bean>

	<bean id="timerTaskBean" class="org.xcommand.template.jst.JSTUpdateChecker">
		<property name="srcDirs">
			<list>
				<value>jst/src</value>
			</list>
		</property>
		<property name="janinoObjectCreator" ref="janinoObjectCreator"/>
	</bean>

	<bean id="jstUpdateChecker" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="3000"/>
		<property name="period" value="5000"/>
		<property name="timerTask" ref="timerTaskBean"/>
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="jstUpdateChecker"/>
			</list>
		</property>
	</bean>

	<bean id="APP_BEAN_PROVIDER" class="org.xcwebapp.app.AppBeanProvider">
		<property name="xcServletContextListenerCommand" ref="xcServletContextListenerCommand"/>
		<property name="requestDispatcherCommand" ref="requestDispatcherCmd"/>
	</bean>

</beans>